$black-color: #000000;
$white-color: #ffffff;
// $primary-color: #8aba10;
$primary-color: #6faa01;
$navlink-color: #6faa01;
$scrollbar-bg: #6faa01;
$primary-light: #91de00dd;
$primary-light1: #b2f92edd;
$primary-light2: #b2f92eb4;
$secondary-color: #3f3f3f;
$gradient1: #3f3f3f;
$gradient2: #3f3f3f;
$orange: #f48f26;
$light-blue: rgb(71, 118, 235);
$card-purple-bg: #6059c91e;
$theme-green: #00bf78;
$light-green1: #00bf79b3;
$transparent-green: #00bf7931;
$dark-gray: #314259;
$light-gray: #d6d6d6;
$grey: #f8fbff;
$off-white: #e6e6e6;
$theme-blue: #57aaee;
$theme-blue-dark: #1a598d;
$pink-color: #ff69b4;
$red-color: #851414;
$grey: #cdced4;
$light-green: #f2fdfa;
$dark-gray: #314259;
$transparent-red: #dc5f5f29;
$divider-color: #9e9c9c;
$weDo-bg: #f2f2f2;
$pin-bg: #f6aa5877;
